<aside class="main-sidebar sidebar-dark-primary elevation-4" data-cy="sidebar">

    <a routerLink="/" class="brand-link">
        <img src="assets/img/AdminLTELogo.webp" alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Gestion Stock V1</span>
    </a>

    <div class="sidebar">

        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <picture>
                    <source type="image/webp" srcset="assets/img/avatar.webp">
                    <img src="assets/img/avatar.jpg"
                    class="img-circle elevation-2" alt="User Image">
                </picture>
            </div>
            <div class="info">
                <a href="#" class="d-block">{{account?.nom}}</a>
            </div>
        </div>

        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column"
                data-widget="treeview" role="menu" data-accordion="false">

                <ng-container *ngFor="let menu of menus">
                    <li class="nav-item" [ngClass]="{'menu-open': menu.active}">
                        <a class="nav-link" [attr.data-cy]="'sideBarDropDown' + menu.id">
                            <i class="nav-icon {{menu.icon}}"></i>
                            <p>
                                {{menu.title}}
                                <i class="right fas fa-angle-left" *ngIf="menu.subMenu && menu.subMenu.length >0"></i>
                            </p>
                        </a>
                        <ul class="nav nav-treeview" *ngIf="menu.subMenu && menu.subMenu.length >0">
                            <li class="nav-item" *ngFor="let submenu of menu.subMenu">
                                <a [attr.data-cy]="'sideBarItemDropDown' + submenu.id" [routerLink]="submenu.url" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="nav-link">
                                    <i class="{{submenu.icon}} nav-icon"></i>
                                    <p>{{submenu.title}}</p>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ng-container>
            </ul>
        </nav>
    </div>
</aside>