<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gestion des categories</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a routerLink="/">Tableau bord</a></li>
                    <li class="breadcrumb-item active">Liste des categories</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<app-button-actions (newEvent)="addCategory()"></app-button-actions>

<section class="content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Liste des categories</h3>
                <div class="card-tools">
                    <a href="javascript:void(0)" class="btn btn-tool btn-sm" (click)="refresh()">
                        <i class="fas fa-sync"></i>
                    </a>
                </div>
            </div>
            <div class="card-body table-responsive p-0">
                <ng-container *ngIf="(categories$ | async) as categories">
                    <ng-template #notFound>
                        <div class="alert alert-warning">
                            <span>Aucune categorie trouvee</span>
                        </div>
                    </ng-template>

                    <table class="table table-striped table-valign-middle" *ngIf="categories && categories.length > 0; else notFound">
                        <thead>
                            <tr>
                                <th>Code</th>
                                <th>Libelle</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let categorie of categories; trackBy: trackById">
                                <td>{{categorie.code}}</td>
                                <td>{{categorie.designation}}</td>
                                <td>
                                    <a href="javascript:void(0)" [routerLink]="['./',categorie.id,'edit']" class="m-2">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="javascript:void(0)" class="m-2" (click)="deleteCategory(categorie)">
                                        <i class="fas fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </div>
        </div>
    </div>
</section>