<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a routerLink="/"><b>Gestion</b> Stock</a>
        </div>

        <div class="card" data-cy="loginPage">
            <div class="card-body login-card-body">
                <p class="login-box-msg" data-cy="loginTitle">Connectez-vous pour commencer votre session</p>
                <form role="form" name="loginForm" [formGroup]="loginForm" (ngSubmit)="login()">
                    <div class="alert alert-danger" *ngIf="errorMessage" data-cy="loginErrorMessage">
                        <span>{{errorMessage}}</span>
                    </div>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control"
                            placeholder="Email" data-cy="loginUsername" autocomplete="username" formControlName="login">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" class="form-control"
                            placeholder="Password" data-cy="loginPassword" autocomplete="current-password" formControlName="password">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" data-cy="loginRemember" id="remember" formControlName="rememberMe">
                                <label for="remember">
                                    Souvenez-vous de moi
                                </label>
                            </div>
                        </div>

                        <div class="col-4">
                            <button type="submit" data-cy="loginSubmit" class="btn btn-primary btn-block" [disabled]="loginForm.invalid">S'inscrire</button>
                        </div>

                    </div>
                </form>
                <p class="mb-1">
                    <a routerLink="/reset-password" data-cy="loginForgetPassword">J'ai oublié mon mot de passe</a>
                </p>
                <p class="mb-0">
                    <a routerLink="/register" class="text-center" data-cy="loginRegister">Inscrivez-vous pour devenir membre</a>
                </p>
            </div>
        </div>
    </div>
</div>