<form role="form" novalidate (ngSubmit)="confirm(article.id!)" >
    <div class="modal-header">
        <h4 class="modal-title">Supprimer un article</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()">
            <span aria-hidden="true">×</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="alert alert-danger" *ngIf="errorMsg">
            <span>{{errorMsg}}</span>
        </div>
        <p> Vous êtes sûr de vouloir supprimer l'article : {{article.codeArticle}}</p>
    </div>
    <div class="modal-footer justify-content-between">
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="cancel()">Fermer</button>
        <button type="submit" class="btn btn-primary" [disabled]="isVisible">Confirmer</button>
    </div>
</form>