<div class="wrapper">
    <router-outlet name="header"></router-outlet>
    <router-outlet name="sidebar"></router-outlet>
    <div class="content-wrapper">
        <router-outlet></router-outlet>
    </div>
    <router-outlet name="footer"></router-outlet>
</div>