<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gestion des articles</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/">Tableau de bord</a></li>
                    <li class="breadcrumb-item active">Liste des articles</li>
                </ol>
            </div>
        </div>
    </div>
</div>

<app-button-actions (newEvent)="addArticle()"></app-button-actions>

<div class="content">
    <div class="container-fluid">
        <div class="card card-solid">
            <div class="card-body pb-0">
                <ng-container *ngIf="(articles$ | async) as articles">
                    <ng-template #notFound>
                        <div class="alert alert-warning">
                            <span>Aucun article trouve</span>
                        </div>
                    </ng-template>
                    <div class="row" *ngIf="articles && articles.length > 0; else notFound">
                        <app-article-item class="item-box" *ngFor="let article of articles; trackBy: trackBy" [article]="article" (deleteArticle)="handleDelete($event)"></app-article-item>
                    </div>
                </ng-container>
            </div>        
        </div>
    </div>
</div>
