<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">Gestion des articles</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/">Tableau de bord</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)" routerLink="/articles">Liste des articles</a></li>
                    <li class="breadcrumb-item active">
                        <span *ngIf="!article?.id">Ajouter</span>
                        <span *ngIf="article?.id">Modifier</span>
                        un article
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container-fluid">
        <div class="alert alert-danger" *ngIf="errorMsg && errorMsg.length > 0">
            <ng-container *ngFor="let error of errorMsg">
                <span>{{error}}</span>
            </ng-container>
        </div>

        <form role="form" novalidate id="articleForm" [formGroup]="articleForm" (ngSubmit)="create()">
            <div class="card">
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-4 col-sm-4 col-xs-12">
                            <button type="button" (click)="fileInput.click()" style="background-color: transparent; border: none;">
                                <img [src]="this.urlImg" class="img-thumbnail" alt="image article" />
                                <input hidden type="file" #fileInput (change)="onFileInput(fileInput.files)" />
                            </button>
                        </div>
                        <div class="col-md-8 col-sm-8 col-xs-12">
                            <div class="row">
                                <div class="col-md-6">

                                    <div class="form-group">
                                        <label for="codeArticle"> Code Article</label>
                                        <input type="text" class="form-control" name="codeArticle" id="codeArticle" placeholder="Code article" formControlName="codeArticle" />
                                    </div>

                                    <div class="form-group">
                                        <label for="designation"> Designation</label>
                                        <input type="text" class="form-control" name="designation" id="designation" placeholder="Designation" formControlName="designation" />
                                    </div>

                                    <div class="form-group">
                                        <label for="categorie"> Categorie</label>
                                        <select class="form-control" aria-label="categorie select exemple" name="categorie" id="categorie" title="categorie" #categorie formControlName="categorie">
                                            <option [value]="0" > Sectionner une categorie</option>
                                            <option *ngFor="let cat of categories$ | async" [value]="cat.id">{{cat.code}} - {{cat.designation}}</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="prixUnitaireHT"> Prix Unitaire HT</label>
                                        <input type="text" class="form-control" name="prixUnitaireHT" (input)="calculerTTC()" id="prixUnitaireHT" placeholder="Prix Unitaire HT" formControlName="prixUnitaireHt" />
                                    </div>

                                    <div class="form-group">
                                        <label for="tauxTVA"> Taux TVA</label>
                                        <input type="text" class="form-control" name="tauxTVA" (input)="calculerTTC()" id="tauxTVA" placeholder="Taux TVA" formControlName="tauxTva"  />
                                    </div>

                                    <div class="form-group">
                                        <label for="prixUnitaireTTC"> Prix Unitaire TTC</label>
                                        <input type="text" class="form-control" name="prixUnitaireTTC" id="prixUnitaireTTC" placeholder="Prix Unitaire TTC" formControlName="prixUnitaireTtc" />
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="card-footer">
                    <button type="button" class="btn btn-default float-left" data-dismiss="modal" (click)="previousPage()">Annuler</button>
                    <button type="submit" class="btn btn-primary float-right" [disabled]="articleForm.invalid || isSaving">Enregistrer</button>
                </div>
            </div>

        </form>

    </div>
</div>