<nav class="main-header navbar navbar-expand navbar-white navbar-light">

    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i
                    class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a routerLink="/" class="nav-link">Accueil</a>
        </li>
    </ul>

    <ul class="navbar-nav ml-auto">
    
        <li class="nav-item">
            <a class="nav-link" data-widget="fullscreen" href="#" role="button">
                <i class="fas fa-expand-arrows-alt"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" role="button" (click)="logout()">
                <i class="fas fa-sign-out-alt"></i>
            </a>
        </li>
    </ul>
</nav>