<div class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a routerLink="/"><b>Admin</b>LTE</a>
        </div>

        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">You forgot your password? Here you can
                    easily retrieve a new password.</p>
                <form>
                    <div class="input-group mb-3">
                        <input type="email" class="form-control"
                            placeholder="Email">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit"
                                class="btn btn-primary btn-block">Request new
                                password</button>
                        </div>

                    </div>
                </form>
                <p class="mt-3 mb-1">
                    <a routerLink="/login">Login</a>
                </p>
                <p class="mb-0">
                    <a routerLink="/register" class="text-center">Register a new
                        membership</a>
                </p>
            </div>

        </div>
    </div>
</div>