<div class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
            <a routerLink="/register"><b>Gestion</b> de stock</a>
        </div>
        <div class="card">
            <div class="card-body register-card-body">
                <p class="login-box-msg">Incrivez votre entreprise</p>
                <form novalidate role="form" id="registerForm"
                    #registerForm="ngForm" (ngSubmit)="register()">

                    <div class="alert alert-danger" *ngIf="errorMsg.length > 0">
                        <ng-container *ngFor="let errorItem of errorMsg">
                            <span class="d-block">{{ errorItem }}</span>
                        </ng-container>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <fieldset class="border-top border-primary p-2">
                                <legend>Info generale</legend>

                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="Nom" [(ngModel)]="entreprise.nom" [ngModelOptions]="{standalone: true}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-user"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="Code Fiscal" [(ngModel)]="entreprise.codeFiscal" [ngModelOptions]="{standalone: true}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-id-card"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="tel" class="form-control"
                                        placeholder="Telephone" [(ngModel)]="entreprise.numTel" [ngModelOptions]="{standalone: true}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-phone"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group mb-3">
                                    <textarea name="description" [(ngModel)]="entreprise.description" id="description"
                                        placeholder="Description" rows="4"
                                        class="form-control" [ngModelOptions]="{standalone: true}"></textarea>
                                </div>

                            </fieldset>
                        </div>
                        <div class="col-6">
                            <fieldset class="border-left border-top border-success p-2">
                                <legend>Localisation</legend>

                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="Adresse 1" oninput="this.value = this.value.toLowerCase()"  [(ngModel)]="adresse.adresse1" [ngModelOptions]="{standalone: true}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-map"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="Adresse 2" oninput="this.value = this.value.toLowerCase()" [(ngModel)]="adresse.adresse2" [ngModelOptions]="{standalone: true}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-map"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="Code Postal" [(ngModel)]="adresse.codePostale" [ngModelOptions]="{standalone: true}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span
                                                class="fas fa-id-badge"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="Ville" [(ngModel)]="adresse.ville" [ngModelOptions]="{standalone: true}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-city"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control"
                                        placeholder="Pays" [(ngModel)]="adresse.pays" [ngModelOptions]="{standalone: true}">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <span class="fas fa-flag"></span>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                    <hr>

                    <fieldset class="border border-warning p-2 mb-2">
                        <legend>Authentification</legend>

                        <div class="input-group mb-3">
                            <input type="email" class="form-control"
                                placeholder="Email" autocomplete="username" maxlength="50" minlength="5" [(ngModel)]="entreprise.email" #email="ngModel" [ngModelOptions]="{standalone: true}" required [ngClass]="{'is-invalid': email.invalid && (email.dirty || email.touched)}">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                            <div class="invalid-feedback" *ngIf="email.invalid && (email.dirty || email.touched)">
                                <small class="form-text text-danger" *ngIf="email.errors!['required']">
                                    Email est requis.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors!['maxlength']">
                                    Email ne peut pas depasser 100 caracteres maximum.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.errors?.['minlength']">
                                    Email doit contenir 5 caracteres minimum.
                                </small>
                                <small class="form-text text-danger" *ngIf="email.invalid">
                                    Email invalide.
                                </small>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="password" class="form-control"
                                placeholder="Password" autocomplete="current-password" [(ngModel)]="entreprise.password" [ngModelOptions]="{standalone: true}" required>
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <div class="row">
                        <div class="col-8">
                            <div class="icheck-primary">
                                <input type="checkbox" id="agreeTerms"
                                    name="terms" value="agree">
                                <label for="agreeTerms">
                                    J'accepte les <a
                                        href="javascript:void(0)">termes</a>
                                </label>
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit"
                                class="btn btn-primary btn-block" [disabled]="registerForm.form.invalid || isSaving">
                                <span *ngIf="isSaving" class="spinner-border spinner-border-sm mr-1"></span>
                                S'inscrire
                            </button>
                        </div>
                    </div>

                </form>
                <a routerLink="/login" class="text-center">Je suis déjà
                    membre</a>
            </div>
        </div>
    </div>
</div>