<form role="form" novalidate (ngSubmit)="confirm(categorie.id!)">
    <div class="modal-header">
		<h4 class="modal-title" id="modal-basic-title">Supprimer une categorie</h4>
		<button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancel()"></button>
	</div>
	<div class="modal-body">
        <ng-container *ngIf="errorMsg">
            <ngb-alert [type]="'danger'">{{ errorMsg }}</ngb-alert>
        </ng-container>
        <p>Vous etes sur de vouloir supprimer la categorie : {{categorie.code}}</p>
		
	</div>
	<div class="modal-footer justify-content-between">
		<button type="button" class="btn btn-default" (click)="cancel()">Fermer</button>
        <button type="submit" class="btn btn-primary" [disabled]="isVisible">
            <span *ngIf="isVisible" class="spinner-border spinner-border-sm mr-1"></span>
            Confirmer
        </button>
	</div>
</form>